# Seaborn Exercises

1) From the "tips" dataset
    1. add a percentage tip column to the dataset
    2. visualize the relationship between tip percentage, with day of week and time 
    3. visualize tip ~ day, time, and number of people (which function allows three variables independent variables at once?)

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
type(tips)

pandas.core.frame.DataFrame

2) Find an interesting trend in the "exercise" dataset